@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* CHANGE 1: Updated variable from --font-samsung to --font-sharp */
  --font-sans: var(--font-sharp), sans-serif; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white; 
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sharp), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  
  font-family: var(--font-sharp), sans-serif;
}